<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AstraLib{% endblock %}</title>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500&family=Roboto+Mono&display=swap" rel="stylesheet">

        <!-- Extra fun stuff -->
        <link rel="stylesheet" href="{{ asset('css/materialize_colors.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% set route_name = app.request.attributes.get('_route') %}

            <nav class="uk-navbar-container uk-navbar-transparent uk-margin uk-background-secondary uk-light" uk-navbar>
                <div class="uk-navbar-left uk-margin-left">

                    <a class="uk-navbar-item uk-logo" href="{{ path('landing') }}">{{ app.request.server.get('APP_NAME') }}</a>

                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                                Features
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="uk-navbar-right uk-margin-right">

                    <form class="uk-search uk-search-default">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="">
                    </form>

                    <ul class="uk-navbar-nav">
                        {% if app.user %}
                            <li><a>Logged in as <code>{{ app.user.username }}</code></a></li>
                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        {% else %}
                        <li class="{% if route_name == "app_login" %}uk-active{% endif %}"><a href="{{ path('app_login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
        </nav>


        {% endblock %}

        <div class="uk-container">
            {% block body %}{% endblock %}
        </div>

        <div class="uk-section uk-section-xsmall uk-section-default uk-position-bottom" style="border-top: 1px solid #f2f2f2">
			<div class="uk-container uk-container-small uk-text-small">
				<div class="uk-grid" data-uk-grid="">
					<div class="uk-width-expand uk-first-column">
						<span class="uk-visible@s">Here we put the name of the website</span></a>
					</div>
					<div class="uk-width-auto uk-text-right">
                    Built with AstraLib
                    <a href="https://gitlab.com/acubesat/utilities/astralib">
                        <span uk-icon="icon: github-alt"></span>
                    </a>
                    </div>
				</div>
			</div>
		</div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
