{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="schema.DC" href="http://purl.org/dc/terms/" >
    <meta name="DC.title" content="{{ document.title }}">
    <meta name="DC.date" content="{{ document.date|date }}">
    <meta name="DC.creator" content="{{ document.authors|map(a => a.author.name)|join(", ") }}">
{% endblock %}

{% block title %}Document{% endblock %}

{% block top %}
    <header class="uk-panel uk-background-primary uk-light uk-flex uk-flex-middle">
        <aside class="uk-float-left flex-self-expand uk-text-center header-sidelinks">
            <a class="uk-button uk-button-default uk-padding-remove" title="Go back" href="{{ path('document_index') }}">
                <span uk-icon="icon: chevron-left; ratio:2"></span>
            </a><br>
            GO BACK
{#            <a href="{{ path('document_index') }}">back to list</a>#}
        </aside>
        <div class="uk-padding uk-container uk-flex uk-flex-between uk-flex-middle uk-flex-wrap flex-self-expand">
            <h1 class="uk-heading-line uk-heading-small uk-margin-remove-top uk-margin-right" title="Document Title">{{ document.title }}</h1>
            <span class="uk-heading-small uk-text-lead uk-margin-remove-top" title="Document Identifier">{{ document.docid }}</span>

            <div class="flex-separator"></div>

            <span>{{ document.authors|map(a => a.author.name)|join(", ") }}</span>
            <time class="flex-self-top">15 August 2021</time>
        </div>

        <aside class="uk-float-left flex-self-expand uk-text-center header-sidelinks" style="max-width: calc((100vw - 1300px) / 2)">
            <div class="uk-display-inline-block uk-margin-small-left uk-margin-small-right">
                <a class="uk-button uk-button-default uk-padding-remove" title="Permalink" href="{{ path('document_show', { id: document.id }) }}">
                    <span uk-icon="icon: link; ratio:2"></span>
                </a><br>
                PERMALINK
            </div>
            <div class="uk-display-inline-block uk-margin-small-left uk-margin-small-right">
                <a class="uk-button uk-button-default uk-padding-remove" title="Edit" href="{{ path('admin_app_document_edit', { id: document.id }) }}">
                    <span uk-icon="icon: pencil; ratio:2"></span>
                </a><br>
                EDIT
            </div>
        </aside>
    </header>
{% endblock %}

{% block body %}
    <div class="uk-child-width-expand@s uk-grid-divider" uk-grid>
        <section class="uk-width-expand@m">
            <h3>Document Information</h3>
            <dl class="uk-description-list">
                <dt>Title</dt>
                <dd>{{ document.title }}</dd>

                <dt>Dates</dt>
                <dd>
                    <div class="uk-child-width-expand@s" uk-grid>
                        <span>Created at <time>{{ document.creationDate|date }}</time></span>
                        <span class="uk-text-right">Last update at <time>{{ document.revisionDate|date }}</time></span>
                    </div>
                </dd>

                <dt>Categories</dt>
                <dd>
                    {% for category in document.categories %}
                        <span class="uk-label {{ category.colour }}">{{ category.name }}</span>
                    {% endfor %}
                </dd>

            </dl>
        </section>
        <section class="uk-width-auto@m">
            <h3>Authors</h3>
            <p>
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for author in document.authors %}
                    <tr>
                        <td>{{ author.type }}</td>
                        <td>{{ author.author.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </p>
        </section>
    </div>
{% endblock %}
